body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.vending-machine {
  display: flex;
  flex-direction: column;

  padding: 40px;
  border-radius: 5px;
  width: 300px;

  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vendingheader {
  display: flex;
  justify-content: center;
}
.total-line {
  align-self: center;
  font-weight: bold;
}

.buttons1 {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5px 0px;
  margin: 10px;
}

.make-money {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;

  padding: 10px;
  margin: 10px;
}

.make-money-form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
}
.coin {
  border-radius: 50%;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 8px;
  margin: 10px;
  display: flex;
  align-content: center;
}
.nickel {
  background-color: grey;
  width: 70px;
  height: 70px;
}

.penny {
  background-color: #6e3916;
  width: 50px;
  height: 50px;
}

.dime {
  background-color: darkgrey;
  width: 40px;
  height: 40px;
}

.quarter {
  background-color: silver;
  width: 85px;
  height: 85px;
}

.lightbulb {
  background-color: #383838;
  color: white;
  width: 30vw;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.light {
  background-color: #e7c393;
  color: white;
  width: 30vw;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
